RewriteEngine On
RewriteCond %{SERVER_PORT} !^443$
RewriteRule (.*) https://%{HTTP_HOST}/$1 [R=301,L]


Redirect 301 /index.php /index.html

Redirect 301 /aboutme/aboutme/aboutme.php /about.html
Redirect 301 /aboutme/cv/cv.php /about.html#CurriculumVitae
Redirect 301 /aboutme/work/work.php /about.html#Hiring
Redirect 301 /aboutme/exhibitions/exhibitions.php /index.html
Redirect 301 /aboutme/papers/papers.php /index.html
Redirect 301 /aboutme/mydigitalego/mydigitalego.php /about.html#OnlinePresence
Redirect 301 /aboutme/portfolio/portfolio.php /index.html

Redirect 301 /aboutme/portfolio/files/biography.pdf /index.html
Redirect 301 /aboutme/portfolio/files/cv_longversion.pdf /files/cv_longversion.pdf
Redirect 301 /aboutme/portfolio/files/cv_shortversion.pdf /files/cv_longversion.pdf
Redirect 301 /aboutme/portfolio/files/exhibitions.pdf /index.html
Redirect 301 /aboutme/portfolio/files/papers_longversion.pdf /index.html
Redirect 301 /aboutme/portfolio/files/papers_shortversion.pdf /index.html
Redirect 301 /aboutme/portfolio/files/mydigitalego.pdf /about.html#OnlinePresence
Redirect 301 /aboutme/portfolio/files/hiring-manual.pdf /files/hiring-manual.pdf

Redirect 301 /projects/projects.php /index.html

Redirect 301 /art/art.php /index.html

Redirect 301 /writing/writing.php /about.html#OnlinePresence
Redirect 301 /writing/asterisk-and-polis/asterisk-and-polis.php /about.html#OnlinePresence

Redirect 301 /contact/contact.php /contact.html

Redirect 301 /imprint/imprint.php /legal-disclosure.html
Redirect 301 /imprint/imprint.php#privacypolicy /privacy-policy.html
Redirect 301 /imprint/imprint.php#disclaimer /disclaimer.html
